<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNS - Интернет-магазин электроники</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f0f0f0; /* светло-серый фон */
        }

        .navbar {
            background-color: #343a40; /* темно-синий цвет для навигационного меню */
        }

        .navbar-dark .navbar-nav .nav-link {
            color: #ffffff; /* белый текст в навигационном меню */
        }

        .container {
            background-color: #ffffff; /* белый фон контейнера */
            border-radius: 10px; /* скругление углов контейнера */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* тень контейнера */
            padding: 20px; /* отступ внутри контейнера */
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">GNS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                    <button type="submit" class="btn btn-link navbar-btn">Выйти</button>
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-link navbar-btn">Войти</a>
            }
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody() <!-- Эта область будет заполнена контентом из различных представлений -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Здесь могут быть другие скрипты -->
</body>
</html>

