<main>
    <div class="container">
        <h2>О нас</h2>
        <p>Магазин электроники - это ваш надежный партнер в мире технологий. Мы предлагаем широкий выбор электронных товаров от ведущих мировых производителей. Наша команда состоит из профессионалов, которые всегда готовы помочь вам выбрать и приобрести лучшие продукты для ваших потребностей.</p>
        <p>Мы стремимся к тому, чтобы каждый клиент получил исключительный сервис и удовлетворение от покупки у нас. Наша цель - сделать ваше покупательное впечатление незабываемым и приятным.</p>
        <p>Будьте уверены, что вы всегда найдете у нас самые актуальные и качественные товары по доступным ценам. Спасибо, что выбираете Магазин электроники!</p>
    </div>
</main>