
@model electronic_equipment_store.Models.DBModels.Users

<main>
    @using (Html.BeginForm("Registration", "Authentication", FormMethod.Post))
    {
        <h1 class="loginregH1">Регистрация</h1>
        <div>
            <label>Логин</label>
            @Html.TextBoxFor(model => model.customer_name)
        </div>
        <div>
            <label>Email</label>
            @Html.TextBoxFor(model => model.email)
        </div>
        <div>
            <label>Пароль</label>
            @Html.TextBoxFor(model => model.password)
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
        <button class="buttonReg" type="submit">Регистрация</button>
    }
</main>