@model List<electronic_equipment_store.Models.DBModels.Manufactures>

<main>
    <h1 style="margin-left:40px;">Производители с которыми мы сотрудничаем</h1>
    @foreach (var manuf in Model)
    {
        <div class="manufacturer-card">
            <div class="manufacturer-header">
                <h2>@manuf.manufacturer_name</h2>
            </div>
            <div class="manufacturer-content">
                <p>@manuf.description</p>
            </div>
        </div>
    }
    @using (Html.BeginForm("AddManufacturers", "Home", FormMethod.Post))
    {
        <h3 style="text-align:center; margin:0;">Добавить Производителя</h3>
        <div>
            <label for="title">Название компании:</label>
            @Html.TextBox("Title", null, new { @class = "form-control", required = "required", rows = "4" })
        </div>
        <div>
            <label for="description">Описание:</label>
            @Html.TextBox("desc", null, new { @class = "form-control", required = "required", rows = "4" })
        </div>      
        <button class="btn btn-primary" type="submit">Добавить</button>
    }
</main>