<main>
    <div class="container">
        <h2>Добро пожаловать в наш магазин!</h2>
        <p>Исследуйте наши последние электронные товары. Мы предлагаем широкий ассортимент электроники по доступным ценам.</p>

        <h2>Наши новинки</h2>
        <div class="product">
            <h4>Смартфон XYZ</h4>
            <p>Самый последний смартфон от ведущего производителя. Новейшие функции и технологии ждут вас!</p>
            <button>Купить</button>
        </div>
        <div class="product">
            <h4>Ноутбук ABC</h4>
            <p>Мощный ноутбук с высокой производительностью и стильным дизайном. Отличный выбор для работы и развлечений!</p>
            <button>Купить</button>
        </div>

        <h2>Специальные предложения</h2>
        <div class="product">
            <h4>Наушники DEF</h4>
            <p>Отличные наушники с высоким качеством звука и комфортной посадкой. Специальная цена только сегодня!</p>
            <button>Купить</button>
        </div>
        <div class="product">
            <h4>Планшет GHI</h4>
            <p>Легкий и удобный планшет с ярким экраном и долгим временем работы от батареи. Успейте купить по выгодной цене!</p>
            <button>Купить</button>
        </div>
    </div>
</main>
