@{
    ViewData["Title"] = "Logout";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="Logout" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Logout</button>
    </div>
</form>
